# Xcode

*.xcodeproj

## Build generated
build/

## Obj-C/Swift specific
*.hmap

# Swift Package Manager
.build/
.swiftpm/

# Carthage
Carthage/

# macOS
.DS_Store

# Node
node_modules

# Documentation
docs/
